@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor: #ce7f17;
}
* {
    margin: 0;
    border: 0;
}

body {
    background-color: #2d198a;
    color: black;   
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat','Krona',sans-serif;
    font-weight: 450; 
}

header {
    text-align: center;
    margin-top: 0.3rem;   
    font-size: 3rem;
    color: #1386a0;  
}
h1 {
    display: inline;
}
#cabecalho-imagem-cadeado {
    width: 7rem;
    height: 4rem;   
}

#senha {    
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;  
    margin-top: 0.1rem;
    margin-left: 12rem;
}
#senha-label {
    margin-bottom: 0.1rem;
    color: var(--cor);
    font-weight: 700;    
}
#senha-input {
    width: auto;
    height: 2.5rem;
    background-color: #ffffff;
    border-radius: 0.4rem;   
    margin-bottom: 0.7rem;
    outline: none;
    resize: none;     
}
#senha-input:hover{
    background-color: #aaffcc;
    font-size: 1rem;
    font-weight: 900;
}
#senha-tamanho-label {
    margin-bottom: 0.1rem;
    color:var(--cor);
    font-weight: 700;
}
#senha-tamanho-input {
    width: 18rem;
    height: 2.5rem; 
    border-radius: 0.4rem;
    outline: none;
    background-color: #ffffff;
    text-align: center;
}
#senha-tamanho-input:hover {
    background-color: #ddffcc;
    font-size: 1.5rem;
    font-weight: 700;
}

#senha-imagem {
    width: 25rem;
    height: 15rem;    
    background-color: #ffffff;
    border: none;   
    margin-left: 45rem;   
}
#senha-imagem-principal {
    width: 25rem;
    height: 15rem;      
}

#botoes {  
  margin-bottom: 0.1rem;
}
#botoes-gerador-senha {
    background-color: #1469be;
    margin-right: 2rem;
    color: var(--cor);    
}
#botoes-gerador-senha:hover {
    filter: brightness(65%);
}
#botoes-copiar-senha {    
    background-color: #a99d99;
    margin-right: 2rem;
    color:var(--cor);
    
}
#botoes-copiar-senha:hover {
   filter: brightness(60%);
}
#botoes-limpar {
    background-color: #abcdef;
    color:var(--cor);
    
}
#botoes-limpar:hover {
   filter: brightness(55%);
}
button {
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 950;
    text-align: center;
}

#rodape {
    margin-left: 3rem;
    font-size: 0.8rem;
}
#rodape-rede-social {
    margin-right: 0.8rem;
    text-decoration: none;
}
#rodape-rede-social-imagem {
    width: 2rem;    
}

.mensagem-aviso { /* classe utilizada no elemento <textarea> criado no javascript */
    font-size: 2rem;
    font-weight: 700;
    text-align: center;  
    height: 9rem; 
    margin: 2.5rem 0.5rem 1.5rem 0.5rem;
    padding-top: 0.8rem ;   
    border-radius: 1rem;
    background-color: #ce2626;    
    outline: none;
    resize: none;    
}