*{
    margin:0;
    padding: 0;
    border: 0;

}
body {
    background-color: black;
    color:white;
    text-align: center;
    font-family: sans-serif ;
    box-sizing: border-box;
}

#container{ 
   width:80%; 
   max-width:400px;
   margin:150px auto; 
   display: block; 
}
#containerButton{
    width:80%;
    margin:auto;
}

h1{
    font-size: 60px;
    font-weight: 900;   
    margin:40px auto 10px auto;     
    opacity: 0.9;
}
/*
input,button#button{    
    width:100%;
    height: 100px;
    padding: auto;  
    border-radius: 7px;
    font-size: 50px; 
    box-sizing:border-box;
}
*/

input{
    width:100%;
    height: 100px;
    margin-bottom: 20px;
    padding: auto;
    border-radius: 10px;
    font-size: 50px;    
    text-align: center;
}
/*
button#button,button{
    border:none;
    color: black;
    background-color:orange;    
    font-weight: 900;
}
*/

.number,.operator{   
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    border-radius: 80px;
    border:none;
    text-align: center;
    vertical-align: middle ;
    font-size: 30px;
    font-weight: 900;    
    color: black;
    background-color:orange;    
    
}
.operator{
    background-color: lightcoral;

}
button{
    width: 50px;  
    margin: 10px 5px;
    border-radius: 10px;
    border:none;  
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 900;  
    color: black;
    background-color:lightblue;    
    

}

#buttonMais {
    
}

#buttonMenos {
    
}

button:hover{ 
    filter: brightness(2.0); 
    cursor: alias;
}

/* display: flex;
    flex-basis: 50px;
    flex-flow: row wrap;
*/